@import "./colors.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/* Reset Css */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a, img,
strong, b, u, i, ul, li, form, canvas,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Montserrat', sans-serif;
    vertical-align: baseline;
   
}

html {
    font-size: 100%;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: black;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: Arial;
    position: relative;
}
/* Reset Css */

#app {
    height: 100%;
    width: 100%;
}

.wrapper {
    width: 100%;
    height: 100rem;
    background-color: $backgroundColor;
    z-index: -1;
}

.header, .footer {
    background-color: purple;
    height: 7%;
}
