body {
    background-color: black;
}

.allProjects {
    background-color: orange;
    height: 100%;
    padding: 2rem;
}

.projectBox {
    width: 12rem;
    height: 12rem;
    margin: 5px;
}

.projectBoxes {
    background-color: green;
}

.projectRow:not(:first-child) {
    padding-top: 2rem;
}

.projectCol {
    background-color: gray;
}

.headerFullButton {
    width: 100%;
    height: 100%;
}
