.allProjects {
    background-color: orange;
    height: 100%;
}

.projectBox {
    width: 12rem;
    height: 12rem;
    margin: 5px;
}

.projectBoxes {
    background-color: green;
}

.projectRow {
    background-color: orange;
    padding-top: 1rem;
}

.projectCol {
    background-color: gray;
}

body {
    background-color: black;
}